@tailwind base;
@tailwind components;
@tailwind utilities;



.app{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 196, 205);
    width: 100%;
    height: 100vh;

}